footer {
  height: 40px;
}

.push {
  height: 50px;
  background-color: rgb(227, 219, 180);
}
main {
  min-height: 90vh;
  margin-bottom: -90px;
  max-width: 100%;
  overflow-x: hidden;
}
footer {
  background-color: rgb(211, 211, 211);
  position: fixed;
  bottom: 0;
  width: 100vw;
}
